:root {
  --color-primary: hsl(165, 79%, 27%);
  --color-onPrimary: hsl(0, 0%, 100%);
  --color-primaryContainer: hsl(159, 54%, 67%);
  --color-onPrimaryContainer: hsl(166, 100%, 16%);
  --color-secondary: hsl(43, 100%, 24%);
  --color-onSecondary: hsl(0, 0%, 100%);
  --color-secondaryContainer: hsl(40, 84%, 65%);
  --color-onSecondaryContainer: hsl(43, 100%, 18%);
  --color-tertiary: hsl(14, 75%, 37%);
  --color-onTertiary: hsl(0, 0%, 100%);
  --color-tertiaryContainer: hsl(13, 100%, 81%);
  --color-onTertiaryContainer: hsl(15, 99%, 26%);
  --color-error: hsl(0, 65%, 45%);
  --color-onError: hsl(0, 0%, 100%);
  --color-errorContainer: hsl(0, 100%, 86%);
  --color-onErrorContainer: hsl(0, 100%, 16%);
  --color-background: hsl(162, 81%, 96%);
  --color-onBackground: hsl(168, 33%, 9%);
  --color-surface: hsl(162, 81%, 96%);
  --color-onSurface: hsl(168, 33%, 9%);
  --color-surfaceVariant: hsl(31, 34%, 88%);
  --color-onSurfaceVariant: hsl(34, 10%, 27%);
  --color-outline: hsl(34, 7%, 46%);
  --color-outlineVariant: hsl(30, 17%, 77%);
  --color-success: hsl(142, 71%, 35%);
  --color-onSuccess: hsl(0, 0%, 100%);
  --color-inverseSurface: hsl(168, 17%, 17%);
  --color-inverseOnSurface: hsl(160, 47%, 93%);
  --color-inversePrimary: hsl(159, 54%, 67%);
  --color-surfaceDim: hsl(163, 21%, 84%);
  --color-surfaceBright: hsl(162, 81%, 96%);
  --color-surfaceContainerLowest: hsl(0, 0%, 100%);
  --color-surfaceContainerLow: hsl(162, 52%, 94%);
  --color-surfaceContainer: hsl(163, 41%, 91%);
  --color-surfaceContainerHigh: hsl(162, 31%, 89%);
  --color-surfaceContainerHighest: hsl(162, 25%, 87%);
}

[data-theme="dark"] {
  --color-primary: hsl(165, 79%, 27%);
  --color-onPrimary: hsl(165, 100%, 11%);
  --color-primaryContainer: hsl(166, 100%, 16%);
  --color-onPrimaryContainer: hsl(158, 81%, 78%);
  --color-secondary: hsl(40, 84%, 65%);
  --color-onSecondary: hsl(42, 100%, 13%);
  --color-secondaryContainer: hsl(43, 100%, 18%);
  --color-onSecondaryContainer: hsl(38, 100%, 83%);
  --color-tertiary: hsl(13, 100%, 81%);
  --color-onTertiary: hsl(13, 100%, 19%);
  --color-tertiaryContainer: hsl(15, 99%, 26%);
  --color-onTertiaryContainer: hsl(13, 100%, 91%);
  --color-error: hsl(0, 100%, 80%);
  --color-onError: hsl(0, 100%, 20%);
  --color-errorContainer: hsl(0, 100%, 22%);
  --color-onErrorContainer: hsl(0, 100%, 90%);
  --color-background: hsl(101, 20%, 5%);
  --color-onBackground: hsl(162, 25%, 87%);
  --color-surface: hsl(101, 20%, 5%);
  --color-onSurface: hsl(162, 25%, 87%);
  --color-surfaceVariant: hsl(34, 10%, 27%);
  --color-onSurfaceVariant: hsl(30, 17%, 77%);
  --color-outline: hsl(30, 8%, 56%);
  --color-outlineVariant: hsl(34, 10%, 27%);
  --color-success: hsl(142, 71%, 45%);
  --color-onSuccess: hsl(0, 0%, 100%);
  --color-inverseSurface: hsl(162, 25%, 87%);
  --color-inverseOnSurface: hsl(168, 17%, 17%);
  --color-inversePrimary: hsl(166, 100%, 21%);
  --color-surfaceDim: hsl(101, 20%, 5%);
  --color-surfaceBright: hsl(167, 15%, 21%);
  --color-surfaceContainerLowest: hsl(67, 13%, 4%);
  --color-surfaceContainerLow: hsl(168, 33%, 9%);
  --color-surfaceContainer: hsl(168, 30%, 11%);
  --color-surfaceContainerHigh: hsl(168, 22%, 15%);
  --color-surfaceContainerHighest: hsl(167, 16%, 19%);
}
